/*
    Wrappers
*/

.pageWrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 0.5rem;

    background-color: rgba(0, 0, 0, 0.1);

    > * {
        margin: 0.5rem;
        // flex-basis: 16rem; // The sidebar width
    }
}

.pageContentWrapper {
    min-width: calc(((1 / 1.618) * 100%) - 1rem);
    flex-basis: 0;
    flex-grow: 999;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    background-color: black;
    color: white;
    display: flex;
    flex-grow: 1;
}

.pageContent {
    height: 100%;
    border: 3px solid black;
    flex-grow: 999;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        content: '';
        display: block;
    }
    &::before {
        height: calc(3 / 8 * 100%);
    }
    &::after {
        height: calc(5 / 8 * 100%);
    }
}

.contentArea {
    width: 100%;
    padding: 2rem;

    max-width: 72ch;
    margin: 0 auto;
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}

.pageFooter {
    background-color: black;
    color: white;
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}
