.contentFooter {
    background-color: black;
    font-size: var(--s-1);
    color: white;
    padding: 0.5rem 2rem;
    margin: 0 auto;

    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }

    a {
        color: white;
    }

    > p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.colophonLink::before {
    content: "🔬";
    margin-left: 1rem;
    display: inline;
}
