html, body, #__next {
  height: 100%;
}


:root {
    --s1: 1rem;
    --measure: 60ch;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* h1:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
} */