.pageHeader {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: calc(100vh - 2 * 1rem);

    @media screen and (max-height: 400px) {
        height: auto;
        max-height: inherit;
    }

    &::before,
    &::after {
        content: '';
        display: block;
    }
    &::before {
        height: calc((2 / 8) * 100%);
    }
    &::after {
        height: calc((6 / 8) * 100%);
    }

    a {
        color: white;
    }
}

.logoEmoji {
    font-size: 6rem;
    text-decoration: none;
}

.divider {
    display: block;
    margin-bottom: 1rem;
}

// .headerContentWrapper {
// }

.pageNavigation {
    display: block;
}
